.DS_Store
./LibraryFrontend/.DS_Store
./LibraryFrontend/node_modules/
./LibraryFrontend/.next
./schema/.DS_Store
./dataGeneration/.DS_Store
./dataGeneration/ipynb_checkpoints/*
./LibraryBackend/.DS_Store
./LibraryBackend/src/.DS_Store


### VS Code ###
.vscode/
