<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.EventMapper">
    <resultMap id="result" type="com.example.backend.entity.Event">
        <result property="ID" column="ID" />
        <result property="name" column="name" />
        <result property="start_date_time" column="start_date_time" />
        <result property="end_date_time" column="end_date_time" />
        <result property="capacity" column="capacity" />
        <result property="current_amount" column="current_amount" />
        <result property="description" column="description" />
        <result property="location_ID" column="location_ID" />
        <result property="admin_ID" column="admin_ID" />
    </resultMap>

    <parameterMap type="java.util.Map" id ="InsertEventMap">
        <parameter property="event_name" mode="IN" jdbcType="VARCHAR" />
        <parameter property="start_date_time" mode="IN" jdbcType="VARCHAR" />
        <parameter property="end_date_time" mode="IN" jdbcType="VARCHAR" />
        <parameter property="capacity" mode="IN" jdbcType="BIGINT" />
        <parameter property="description" mode="IN" jdbcType="VARCHAR" />
        <parameter property="location_ID" mode="IN" jdbcType="BIGINT" />
        <parameter property="admin_ID" mode="IN" jdbcType="BIGINT" />
        <parameter property="if_succeeded" mode="OUT" jdbcType="VARCHAR" />
    </parameterMap>

    <select id="insertEvent" statementType="CALLABLE"  parameterMap="InsertEventMap">
        {call event_setup(?,?,?,?,?,?,?,?)}
    </select>

    <parameterMap type="java.util.Map" id ="RegisterEventMap">
        <parameter property="guest_ID" mode="IN" jdbcType="BIGINT" />
        <parameter property="event_ID" mode="IN" jdbcType="BIGINT" />
        <parameter property="if_registerd" mode="OUT" jdbcType="VARCHAR"/>
    </parameterMap>


    <select id="registerEvent" statementType="CALLABLE"  parameterMap="RegisterEventMap">
        {call register_event(?,?,?)}
    </select>

    <select id="cancelRegisterEvent" statementType="CALLABLE"  parameterMap="RegisterEventMap">
        {call cancel_register(?,?,?)}
    </select>

    <select id="findEvent" resultMap="result">
        SELECT * FROM Event WHERE Event.ID = #{eventId}
    </select>

    <select id="listEvents" resultMap="result">
        SELECT * FROM Event
    </select>
</mapper>
