<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.GuestMapper">
    <resultMap id="result" type="com.example.backend.entity.Guest">
        <result property="ID" column="ID" />
        <result property="is_activated" column="is_activated" />
        <result property="credit_level" column="credit_level" />
        <result property="remaining_credit" column="remaining_credit" />
        <result property="late_fee" column="late_fee" />
    </resultMap>
    <parameterMap type="java.util.Map" id ="ActivateGuestMap">
        <parameter property="guest_ID" mode="IN" jdbcType="BIGINT" />
    </parameterMap>

    <select id="findById" resultType="Guest">
        SELECT * FROM Guest where Guest.ID = #{id}
    </select>

    <select id="listGuests" resultType="Guest">
        SELECT * FROM Guest
    </select>

    <update id="activateGuest" statementType="CALLABLE" parameterMap="ActivateGuestMap">
        {call activate_guest_account(?)}
    </update>
</mapper>
