<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.PeopleMapper">
    <resultMap id="result" type="com.example.backend.entity.People">
        <result property="username" column="username" />
        <result property="password" column="password"/>
        <result property="email_address" column="email_address" />
        <result property="is_guest" column="is_guest" />
        <result property="ID" column="ID" />
    </resultMap>

    <select id="ListPeople" resultMap="result">
        SELECT * FROM People
    </select>

    <select id="findPeopleByName" resultMap="result">
        SELECT * FROM People where username=#{name}
    </select>

    <select id="findPeopleByNameAndPassword" resultMap="result">
        SELECT * FROM People where username=#{username} and password=#{password}
    </select>

    <select id="findPeopleById" resultMap="result">
        SELECT  * FROM People where  id=#{id}
    </select>

    <insert id="insertPeople" parameterType="com.example.backend.entity.People"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO People(
            id,username,password,email_address,is_guest
        )
        VALUES(
        #{id},#{name},#{password},#{email},#{is_guest}
        )
    </insert>

    <update id="Update" parameterType="com.example.backend.entity.People">
        update People
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="password != null">password=#{password},</if>
            <if test="is_guest!= null">is_guest=#{is_guest}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="com.example.backend.entity.People">
        delete from People where id=#{id}
    </delete>
</mapper>
